Repository Frc5572/FRC2025, pull requests merged in 2025-02, with the labels that each got.

#28 Primary Coral Scoring subsystem
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/coral/CoralScoring.java
  src/main/java/frc/robot/subsystems/coral/CoralScoringIO.java
  src/main/java/frc/robot/subsystems/coral/CoralScoringReal.java
Labels: coral

#53 Composes two triggers with logical AND.
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/climber/ClimberReal.java
Labels: climber

#23 Elevator
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Main.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/coral/CoralScoring.java
  src/main/java/frc/robot/subsystems/coral/CoralScoringIO.java
  src/main/java/frc/robot/subsystems/coral/CoralScoringReal.java
  src/main/java/frc/robot/subsystems/elevator/Elevator.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorIO.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorReal.java
  vendordeps/PathplannerLib-2025.2.2.json
  vendordeps/maple-sim.json
Labels: elevator

#58 Elevator binds/vision
  src/main/java/frc/lib/util/ScoringLocation.java
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/elevator/Elevator.java
Labels: vision, elevator, controls

#74 Elevator Fixes
  .codespellignore
  .github/workflows/main.yml
  src/main/deploy/elastic-layout.json
  src/main/java/frc/lib/util/ScoringLocation.java
  src/main/java/frc/lib/util/viz/FieldViz.java
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/OperatorStates.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/climber/Climber.java
  src/main/java/frc/robot/subsystems/climber/ClimberIO.java
  src/main/java/frc/robot/subsystems/coral/CoralScoring.java
  src/main/java/frc/robot/subsystems/elevator/Elevator.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorIO.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorReal.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorSim.java
  src/main/java/frc/robot/subsystems/elevator_algae/ElevatorAlgae.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
Labels: elevator
